@import java.util
@import play.api.i18n.Messages

@(searchHistory: util.List[SearchQuery], search: String, foundTweets: util.List[twitter4j.Status], errorMsg: String)

@main {
    <div class="col-sm-7">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form class="form-inline" method="POST" action="@routes.Application.doSearch()">
                        <div class="input-group input-group-lg">
                            <label for="text" hidden>Search for: </label>
                            <div class="form-group form-group-lg">
                                <input type="text" class="form-control input-lg" id="text" placeholder="@Messages("form.ph.search")" name="text" required>
                                <button type="submit" class="form-control btn btn-primary input-lg">@Messages("form.btn.search")</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @if(search != null) {
            <div class="row">
                @results(foundTweets, search)
            </div>
        }

        @if(errorMsg != null){
            <div class="panel panel-danger">
                <div class="panel-heading"><h3>@Messages("error.title")</h3></div>
                <div class="panel-body"><strong>@errorMsg</strong></div>
            </div>
        }

    </div>

    <div class="col-sm-4 col-sm-offset-1">
    @list(searchHistory)
    </div>
}
